<style>
	div.weekend-sat {  background-color: #cccccc;
	}
	div.weekend-sun {
		background-color: #b4b4b4;
	}
	div.holiday {
		background-color: #55f380;
	}

	.dateBlock {
		width: 50px;
	}
	.table {
		display: table;
		width : 100%;
	}
	.table-row {
		display: table-row;
		border : 1px solid grey;
	}
	.table-cell {
		display : table-cell;
		padding : 3px;
		border-bottom : 1px solid grey;
	}
	.no-signups {
		background-color : #fab2b3;
	}
	.needs-more-signups {
		background-color: #fff77c;
	}
	.has-signups {
		background-color: #7dcc6e;
	}
	.signup-link {
		display:block;
		padding: 3px;
	}
</style>

<f:if condition="{prevMonthAndYear.year}">
	<f:link.action action="show" arguments="{year: prevMonthAndYear.year, month: prevMonthAndYear.month}"><< vorheriger Monat</f:link.action>
</f:if>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<f:if condition="{nextMonthAndYear.year}">
	<f:link.action action="show" arguments="{year: nextMonthAndYear.year, month: nextMonthAndYear.month}">nächster Monat >></f:link.action>
</f:if>

<h3>{monthToDisplay.month}</h3>
<div class="table">
	<f:for each="{monthToDisplay.days}" as="day">
		<div class="table-row day{day.cssInfo}">
			<div class="dateBlock table-cell">{day.day}</div>
			<div class="events table-cell">
				<f:for each="{day.events}" as="event">
					<div class="event">
						<f:security.ifAuthenticated>
							<f:then>
								<f:link.action action="signup" class="signup-link {event.status}" arguments="{event: event.uid}">
									{event.title}
								</f:link.action>
							</f:then>
							<f:else>
								{event.title}
							</f:else>
						</f:security.ifAuthenticated>
					</div>
				</f:for>
			</div>
		</div>
	</f:for>
</div>
